.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.imageB{
  object-fit: cover;
}

.content {
}

.title{
  margin-bottom: 10px;
}

.desc{
  font-size: 18px;
  color: #999;
}
.imgCon{
  width: 300px;
  height: 300px;
}
.mainTitle{
  font-size: 5rem;
  background: linear-gradient(to bottom,#3e5282,#252525);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 3rem;
  padding-bottom: 4rem;
}